<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
            &copy; <%= date(new Date(), 'YYYY') %> 
            <span class="with-love">
            	<i class="fa fa-heart"></i>
            </span>
            <%= config.author || config.title %><br>
            <!-- 
            Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>. Theme by <a href="http://github.com/ppoffice">PPOffice</a>
            -->
            Last modified: Mar. 12th, 2017
        </div>
    </div>
</footer>